body {
    background-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    background-color: goldenrod;

    color: #016f32;
    font-weight: bold;

    width: 150px;
    margin: 4px 0;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
}